# `data.table`: Where Have You Been All My Life? 

# °₊·ˈ∗♡( ˃̶᷇ ‧̫ ˂̶᷆ )♡∗ˈ‧₊°

`data.table` is an easy to use R package for querying and manipulating data. Dataset updates run much faster than with the base R paradigm, and specifying complicated calculations is more intuitive. This talk will show some of the package's features as well as point out a couple of gotchas.

* Add/update/delete columns by reference by group using no copies at all

* Really simplified data manipulation for me, especially on longitudinal data.

* Focus on the add/update/delete columns and indexing

* Many more capabilities not covered here!

In [ ]:
setwd("/Users/ruddjm/Dropbox/miscWork/presentations/dataDotTable")
library(data.table)
library(rbenchmark)
library(Hmisc)
options(repr.matrix.max.rows = 40, repr.matrix.max.cols = 10)

## The data.table class

* data.table is a package, but it's also a **class**.
* 'Enhanced data.frame'
* You can turn a data frame into a data table, and it will still do all the things data frames do.

### Let's make a data.table

* Need to get your data in a data.table to use data.table's capabilities
* How to turn a data frame into a data.table
* Can also read in using a data.table function that automatically makes it a data.table

* Can use `data.table` function with columns input directly

In [9]:
DT = data.table(a=LETTERS[c(1,1:3)],b=4:7,key="a")
DT

  a b
1 A 4
2 A 5
3 B 6
4 C 7

In [10]:
class(DT)

[1] "data.table" "data.frame"

Let's "unmake" it a data.table

In [11]:
class(DT) = 'data.frame'

And back to a data.table

In [12]:
DT = data.table(DT)

## Example data: plants

In [3]:
#http://plants.usda.gov/adv_search.html
plantsDF = read.csv(file = 'exampleData/usdaQuery.txt',
  stringsAsFactors = FALSE,
  na.strings = c("", "NA"))

In [4]:
head(plantsDF)

  Accepted.Symbol Synonym.Symbol Scientific.Name
1 ABAM            NA             Abies amabilis
2 ABBA            NA             Abies balsamea
3 ABCO            NA             Abies concolor
4 ABFR            NA             Abies fraseri
5 ABGR            NA             Abies grandis
6 ABLA            NA             Abies lasiocarpa
  State.and.Province
1 USA (AK, CA, OR, WA), CAN (BC)
2 USA (CT, IA, IN, MA, MD, ME, MI, MN, NH, NJ, NY, OH, PA, RI, VA, VT, WI, WV), CAN (AB, LB, MB, NB, NF, NS, ON, PE, QC, SK), FRA (SPM)
3 USA (AZ, CO, ID, MA, ME, NM, NV, OR, UT, WY)
4 USA (GA, NC, TN, VA)
5 USA (CA, ID, MT, OR, WA), CAN (BC)
6 USA (AK, AZ, CA, CO, ID, MT, NM, NV, OR, UT, WA, WY), CAN (AB, BC, NT, YT)
  Duration  ⋯ Foliage.Color Height..Mature..feet. Drought.Tolerance
1 Perennial ⋯ Gray-Green    165                   Low
2 Perennial ⋯ Green          60                   Low
3 Perennial ⋯ Green         120                   Medium
4 Perennial ⋯ Dark Green     55                   Low
5 Perennial ⋯ Green         150                   Medium
6 Perennial ⋯ Green          90                   Low
  Shade.Tolerance Bloom.Period
1 Tolerant        Late Spring
2 Tolerant        Mid Summer
3 Intermediate    Late Spring
4 Tolerant        Mid Spring
5 Tolerant        Late Spring
6 Tolerant        Late Spring

In [5]:
class(plantsDF)

[1] "data.frame"

In [6]:
plants = data.table(plantsDF)

In [7]:
class(plants)

[1] "data.table" "data.frame"

In [8]:
names(plants) = gsub('\\.', '', names(plants))
names(plants)

 [1] "AcceptedSymbol"    "SynonymSymbol"     "ScientificName"
 [4] "StateandProvince"  "Duration"          "GrowthHabit"
 [7] "NativeStatus"      "FlowerColor"       "FlowerConspicuous"
[10] "FoliageColor"      "HeightMaturefeet"  "DroughtTolerance"
[13] "ShadeTolerance"    "BloomPeriod"

## Indexing

### Rows

Can subset rows using
* row indices
* logical statements
* logical statements don't need to refer to the df name!

In [9]:
# First row:
plants[1, ]
# or
plants[1]

  AcceptedSymbol SynonymSymbol ScientificName StateandProvince
1 ABAM           NA            Abies amabilis USA (AK, CA, OR, WA), CAN (BC)
  Duration  ⋯ FoliageColor HeightMaturefeet DroughtTolerance ShadeTolerance
1 Perennial ⋯ Gray-Green   165              Low              Tolerant
  BloomPeriod
1 Late Spring

  AcceptedSymbol SynonymSymbol ScientificName StateandProvince
1 ABAM           NA            Abies amabilis USA (AK, CA, OR, WA), CAN (BC)
  Duration  ⋯ FoliageColor HeightMaturefeet DroughtTolerance ShadeTolerance
1 Perennial ⋯ Gray-Green   165              Low              Tolerant
  BloomPeriod
1 Late Spring

Get all the plants with white-gray foliage:

In [11]:
head(plants[FoliageColor == 'White-Gray', ])

  AcceptedSymbol SynonymSymbol ScientificName
1 ARLU           NA            Artemisia ludoviciana
2 ARRI2          NA            Artemisia rigida
3 CORA           NA            Coleogyne ramosissima
4 COFL3          NA            Corydalis flavula
5 CRMO4          NA            Crepis modocensis
6 ELCO           NA            Elaeagnus commutata
  StateandProvince
1 USA (AR, AZ, CA, CO, CT, DE, FL, GA, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WY), CAN (AB, BC, MB, NB, NT, ON, PE, QC, SK)
2 USA (ID, MT, OR, WA)
3 USA (AZ, CA, CO, NV, UT)
4 USA (AL, AR, CT, DC, DE, FL, GA, IA, IL, IN, KS, KY, LA, MD, MI, MO, MS, NC, NE, NJ, NY, OH, OK, PA, SC, TN, VA, WV), CAN (ON)
5 USA (CA, CO, ID, MT, NV, OR, UT, WA, WY), CAN (BC)
6 USA (AK, CO, ID, KY, MD, MN, MT, ND, NY, RI, SD, TX, UT, WA, WY), CAN (AB, BC, MB, NT, NU, ON, QC, SK, YT)
  Duration  ⋯ FoliageColor HeightMaturefeet DroughtTolerance ShadeTolerance
1 Perennial ⋯ White-Gray    3.0             High             Intolerant
2 Perennial ⋯ White-Gray    2.0             High             Intolerant
3 Perennial ⋯ White-Gray    6.0             High             Intolerant
4 Annual    ⋯ White-Gray    1.5             Low              Intermediate
5 Perennial ⋯ White-Gray    1.4             Medium           Intolerant
6 Perennial ⋯ White-Gray   12.0             High             Intolerant
  BloomPeriod
1 Early Spring
2 Late Summer
3 Mid Spring
4 Mid Spring
5 Late Spring
6 Early Summer

## Columns

* no quotes needed on column names
* wrap names in `.()`

In [13]:
head(plants[ , .(BloomPeriod)])

  BloomPeriod
1 Late Spring
2 Mid Summer
3 Late Spring
4 Mid Spring
5 Late Spring
6 Late Spring

* Can also omit the `.()`
* Result will be a vector, not a data.table

In [14]:
head(plants[ , BloomPeriod])

[1] "Late Spring" "Mid Summer"  "Late Spring" "Mid Spring"  "Late Spring"
[6] "Late Spring"

Select more than one column:

In [15]:
head(plants[ , .(FlowerColor, Duration)])

  FlowerColor Duration
1 Yellow      Perennial
2 Yellow      Perennial
3 Red         Perennial
4 Purple      Perennial
5 NA          Perennial
6 NA          Perennial

What about indexing by the column number?

In [24]:
which(names(plants) == 'BloomPeriod')

[1] 14

In [16]:
head(plantsDF[ , 14])

[1] "Late Spring" "Mid Summer"  "Late Spring" "Mid Spring"  "Late Spring"
[6] "Late Spring"

In [26]:
plants[ , 14]

[1] 14

# ఠ ͟ಠ

**Must use `with` argument**

In [17]:
head(plants[ , 14, with = FALSE])

  BloomPeriod
1 Late Spring
2 Mid Summer
3 Late Spring
4 Mid Spring
5 Late Spring
6 Late Spring

What about indexing by the **string** column name?

In [28]:
plants[ , 'BloomPeriod'] # doesn't work

[1] "BloomPeriod"

In [29]:
plants[ , .('BloomPeriod')] # doesn't work

  V1
1 BloomPeriod

Again, need to use `with`

In [18]:
head(plants[ , 'BloomPeriod', with = FALSE])

  BloomPeriod
1 Late Spring
2 Mid Summer
3 Late Spring
4 Mid Spring
5 Late Spring
6 Late Spring

### This may break your existing code!

### Indexing operations my return a data.table or a vector, depending on the way you index 
Investigate the object returned by different indexing.

In [ ]:
DT = data.table(a=LETTERS[c(1,1:3)],b=4:7,key="a")
DF = data.frame(a=LETTERS[c(1,1:3)], b=4:7, stringsAsFactors = FALSE)
DT[, a]
DT[, "a", with = FALSE]


# Using the column name with no quotes gives a vector.
str(DT[, a])
# chr [1:4] "A" "A" "B" "C"

# Using the CHARACTER NAME returns a data frame (thats also a data.table).
str(DT[, "a", with = FALSE])
#Classes ‘data.table’ and 'data.frame':  4 obs. of  1 variable:
# $ a: chr  "A" "A" "B" "C"
# - attr(*, "sorted")= chr "a"
# - attr(*, ".internal.selfref")=<externalptr>

str(DT[, a])
str(DT[, 1, with = FALSE])
str(DT[, "a", with = FALSE])
str(DT[["a"]])
str(DT[[1]])
DT[, 1]                  # NO!
DT[, .(1)]               # NO!
DT[, 1, with = FALSE]       # returns a data table
DT[, .(a)]
DT[ , list(a)]


# data FRAME returns a vector for all these uses.
str(DF[["a"]])
str(DF[[1]])
str(DF[, 1])
str(DF[, "a"])

## How to access help files about indexing

* Documentation for indexing
* Tricky because we use the `[` operator and not a function name.

In [31]:
#help('[.data.frame')
#help('[.data.table')
?'[.data.table'
# Note the quote

## Can call all sorts of functions within the brackets! 
* Inside or outside!
* Kind of like using the `with` function

# ✧٩(•́⌄•́๑)و ✧

In [32]:
plants[ , head(HeightMaturefeet)]

[1] 165  60 120  55 150  90

In [33]:
plants[ , table(BloomPeriod, FlowerColor)]

               FlowerColor
BloomPeriod     Blue Brown Green Orange Purple Red White Yellow
  Early Spring     4     1     8      4     18   5    36     51
  Early Summer     4     1    10      0     12   8    38     50
  Fall             1     0     5      0      2   3     3      7
  Indeterminate    2     0     8      0      5   4    13     18
  Late Spring     11    14   105      4     53  25   110    140
  Late Summer      5     4    27      0     20   4    22     45
  Late Winter      0     2     0      0      0   0     3      6
  Mid Spring      11     4    34      4     24  16    68    112
  Mid Summer       4     3    26      1     21   2    24     44
  Spring           7     2    37      1     11  13    42     43
  Summer          10     9    32      1     17  10    30     34
  Winter           0     0     0      0      0   1     3      2

## Calculations **BY** another variable

Get the mean height by growth habit.

In [34]:
plants[ , mean(HeightMaturefeet, na.rm = TRUE), by = GrowthHabit]  #[ , 2, with = FALSE]

   GrowthHabit                V1
1  Tree                       87.977143
2  NA                         19.958000
3  Forb/herb                   2.741739
4  Tree, Shrub, Vine          18.000000
5  Tree, Shrub                28.176355
6  Graminoid                   2.929167
7  Shrub                       7.545324
8  Subshrub, Forb/herb         2.962821
9  Subshrub, Shrub, Forb/herb  1.900000
10 Forb/herb, Shrub, Subshrub  1.200000
11 Subshrub, Shrub             3.362500
12 Forb/herb, Subshrub         3.077778
13 Vine                       26.666667
14 Vine, Forb/herb             2.471429
15 Shrub, Subshrub             4.688889
16 Subshrub                    4.220000
17 Subshrub, Shrub, Graminoid 19.000000
18 Shrub, Tree                21.000000
19 Tree, Subshrub, Shrub       9.000000
20 Shrub, Vine                 1.500000
21 Vine, Subshrub              9.666667
22 Forb/herb, Vine                  NaN

## Assignment/Creating new variables

* Much faster

In [35]:
# DF$c <- 18:13 # results in a deep copy of the entire data frame.

### `data.table` allows you to add/update/delete columns by reference using no copies at all

* Use the `:=` operator

Let's make a new variable that is the plant height plus 1.

*Normally, these in-place assignments do not produce any output. They are producing output here. It may be an issue with jupyter notebook?*

In [ ]:
head(plants[ , oneFootTaller := HeightMaturefeet + 1])

In [20]:
head(plants[ , .(ScientificName, HeightMaturefeet, oneFootTaller)])

  ScientificName   HeightMaturefeet oneFootTaller
1 Abies amabilis   165              166
2 Abies balsamea    60               61
3 Abies concolor   120              121
4 Abies fraseri     55               56
5 Abies grandis    150              151
6 Abies lasiocarpa  90               91

Make a new variable and initialize it to missing:

In [ ]:
plants[ , numberOfPetals := NA]

### Can update a specific value

In [39]:
# Let's update the petal count for one particular plant.
# Let's first find the scientific name for the 246th plant:
plants[246, ScientificName]

[1] "Schoenoplectus maritimus"

In [ ]:
plants[ScientificName == "Schoenoplectus maritimus", numberOfPetals := 17]

In [41]:
plants[240:250, .(ScientificName, numberOfPetals)]

   ScientificName             numberOfPetals
1  Blechnum spicant             NA
2  Blepharoneuron tricholepis   NA
3  Boehmeria cylindrica         NA
4  Bolboschoenus fluviatilis    NA
5  Schoenoplectus fluviatilis   NA
6  Bolboschoenus maritimus      NA
7  Schoenoplectus maritimus   TRUE
8  Bolboschoenus robustus       NA
9  Schoenoplectus robustus      NA
10 Boltonia asteroides          NA
11 Borrichia frutescens         NA

Look at the value of numberOfPetals for "Schoenoplectus fluviatilis!" It's not 17 like we assigned!

The reason is that when whe created a new variable and set it to missing, it automatically made the new variable a *logical* type.

In [42]:
typeof(plants$numberOfPetals)
str(plants$numberOfPetals)

[1] "logical"

 logi [1:1725] NA NA NA NA NA NA ...

If we want the new variable to contain integers, we can define it initially by explicitly setting the type with `as.vector(NA, mode = 'integer')`.

In [ ]:
# Start by removing the previous version of numberOfPetals from the DT:
plants[ , numberOfPetals := NULL]
plants[ , numberOfPetals := as.vector(NA, mode = 'integer')]

In [44]:
typeof(plants$numberOfPetals)
str(plants$numberOfPetals)

[1] "integer"

 int [1:1725] NA NA NA NA NA NA NA NA NA NA ...

## To see the documentationfor assignment, search for ":="
?":="

### Removing columns

In [ ]:
plants[ , c('AcceptedSymbol', 'SynonymSymbol', 'NativeStatus') := NULL]

This changes the plants data frame *in place*.

# Similar for data frames, but if you have several columns to remove 
# it's a little clumsier.
# You could also do this with subset, but you'd need to state the columns
# you need to RETAIN rather than the ones you want to drop.
plants = plants[ , -which(names(plants) %in% c("AcceptedSymbol", "SynonymSymbol"))]

### Assignment BY another variable

Let's add a new column with this mean height, according to the plant's growth habit.

In [ ]:
plants[ , heightClassMean := mean(HeightMaturefeet, na.rm = TRUE), by = GrowthHabit]

In [28]:
head(plants[ , .(ScientificName, HeightMaturefeet, GrowthHabit, heightClassMean)][order(c(GrowthHabit))])

  ScientificName                         HeightMaturefeet GrowthHabit
1 Acalypha virginica                     3.0              Forb/herb
2 Achillea millefolium                   3.0              Forb/herb
3 Achillea millefolium var. occidentalis 3.0              Forb/herb
4 Acmella oppositifolia var. repens      0.7              Forb/herb
5 Aconitum columbianum                   5.0              Forb/herb
6 Acorus americanus                      3.9              Forb/herb
  heightClassMean
1 2.741739
2 2.741739
3 2.741739
4 2.741739
5 2.741739
6 2.741739

## Another example data set

* Longitudinal
* Demonstrate some practical applications
* Can download this data at https://www.r-project.org/nosvn/conferences/useR-2007/competition/ragged.zip

In [23]:
load(file = 'exampleData/ragged.Rdata', verbose = TRUE)
head(ragged[order(ragged$id), ])

Loading objects:
  ragged

  id futime status sex    agebl ⋯ alkphos ALT   protime platelets stage
1 1   400   dead   female 21464 ⋯ 1718    138.0 190     12.2      4
2 1   400   dead   female 21464 ⋯ 1612      6.2 183     11.2      4
3 2  5169   pretx  female 20617 ⋯ 7395    113.5 221     10.6      3
4 2  5169   pretx  female 20617 ⋯ 2107    139.5 188     11.0      3
5 2  5169   pretx  female 20617 ⋯ 1711    144.2 161     11.6      3
6 2  5169   pretx  female 20617 ⋯ 1365    144.2 122     10.6      3

In [ ]:
ragged = data.table(ragged)
ragged[ , id := as.character(id)]

In [30]:
setkey(ragged, id, visittime)
key(ragged)

[1] "id"        "visittime"

We can query by id without stating 'id,' since id is set as a key. `visittime` is set as a secondary key. 

Get the row for id 99 and visittime 193.

In [50]:
ragged[.('99', 193)]

  id futime status sex  agebl ⋯ alkphos ALT  protime platelets stage
1 99 4489   pretx  male 17703 ⋯ 231     21.7 218     10.1      2

Calculate each person's follow up time by taking their highest visittime. Accomplish this by using max(visittime) with by = id.

In [31]:
head(ragged[ ,  max(visittime), by = id])

  id  V1
1 1    192
2 10     0
3 100  514
4 101 4049
5 102 3354
6 103    0

Suppose we need those values in our datasat. I would usually use merge(). 

The following code both calculates everyone's last visit time and merges the results back into the data.

In [ ]:
# This is the coolest thing ever!!!
ragged[ ,  lastVisitTime := max(visittime), by = id]

In [36]:
ragged[400:430 , .(id, visittime, lastVisitTime)]

   id  visittime lastVisitTime
1  15   196      3537
2  15   366      3537
3  15   735      3537
4  15  1128      3537
5  15  1491      3537
6  15  1946      3537
7  15  2143      3537
8  15  2499      3537
9  15  2891      3537
10 15  3537      3537
11 150    0      2577
12 150  188      2577
13 150  365      2577
14 150  741      2577
15 150 1112      2577
16 150 1476      2577
17 150 1841      2577
18 150 2214      2577
19 150 2577      2577
20 151    0      3275
21 151  167      3275
22 151  356      3275
23 151  714      3275
24 151 1098      3275
25 151 1470      3275
26 151 1868      3275
27 151 2179      3275
28 151 2550      3275
29 151 2919      3275
30 151 3275      3275
31 152    0       832

Make a new variable indicating the number of times each person occurs in the data.

In [ ]:
ragged[ , numberObservations := .N, by = id]

In [39]:
head(ragged[ , .(id, visittime, numberObservations)], 30)

   id  visittime numberObservations
1  1      0       2
2  1    192       2
3  10     0       1
4  100    0       4
5  100  171       4
6  100  358       4
7  100  514       4
8  101    0      12
9  101  178      12
10 101  368      12
11 101  746      12
12 101 1097      12
13 101 1467      12
14 101 1844      12
15 101 2189      12
16 101 2596      12
17 101 3313      12
18 101 3692      12
19 101 4049      12
20 102    0      12
21 102  267      12
22 102  483      12
23 102  826      12
24 102 1182      12
25 102 1421      12
26 102 1751      12
27 102 2093      12
28 102 2444      12
29 102 2808      12
30 102 3109      12

You can do calculations by two variables.

Get the mean platelets for each patient within each level of stage, and add that as a new variable

In [ ]:
ragged[ , patientMeanPlateletByStage := mean(platelets, na.rm = TRUE), by = .(id, stage)]

In [43]:
ragged[400:415, .(id, platelets, stage, patientMeanPlateletByStage)]

   id  platelets stage patientMeanPlateletByStage
1  15  10.4      3     10.70000
2  15  10.4      4     10.62222
3  15  10.1      4     10.62222
4  15  10.0      4     10.62222
5  15   9.8      4     10.62222
6  15  10.4      4     10.62222
7  15  10.7      4     10.62222
8  15  10.5      4     10.62222
9  15  10.7      4     10.62222
10 15  13.0      4     10.62222
11 150 10.0      1      9.65000
12 150  9.3      1      9.65000
13 150 10.1      2     10.00000
14 150  9.9      2     10.00000
15 150 10.0      3     10.00000
16 150  9.9      4     10.90000

Make a new variable which gives each patient's immediately previous platelet measure. 

NB: The data must be sorted by time for this to work. How do we know that these data are already sorted by visittime?

In [ ]:
ragged[ , plateletsLag1 :=  shift(platelets), by = id]

In [45]:
ragged[650:670 , .(id, visittime, platelets, plateletsLag1)]

   id  visittime platelets plateletsLag1
1  186  782      11.8      11.7
2  187    0      11.5        NA
3  187  217      11.5      11.5
4  187  356      11.1      11.5
5  187  729      20.8      11.1
6  188    0      11.0        NA
7  188  380      11.0      11.0
8  188  538      10.2      11.0
9  188  930      10.8      10.2
10 188 1324      10.3      10.8
11 188 1644      11.6      10.3
12 188 2001      11.6      11.6
13 188 2351      11.8      11.6
14 189    0       9.9        NA
15 189  211      11.1       9.9
16 189  355       9.7      11.1
17 189  733       9.9       9.7
18 189 1098       9.8       9.9
19 19     0      11.0        NA
20 19   194      11.2      11.0
21 19   404      10.4      11.2